In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
read_file = pd.read_csv('/home/srujan/Downloads/world-development-indicators/Indicators.csv')

In [3]:
read_file.head(3)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,133.560907
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,87.797601
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579

In [13]:
country = read_file['CountryName'].str.contains('India')
indicator = read_file['IndicatorName'].str.contains('Adolescent fertility rate')
#read_file[country].head()
display = read_file[country & indicator]
display.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
11561,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,103.9380
36487,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1961,104.1120
64020,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1962,104.2860
92464,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1963,104.7854
121261,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1964,105.2848

In [16]:
years = read_file['Year'].values
years

array([1960, 1960, 1960, ..., 2015, 2015, 2015])

In [17]:
adoles_values = read_file['Value'].values
adoles_values

array([133.56090741,  87.79760115,   6.63457919, ..., 242.        ,
         3.3       ,  32.8       ])