In [11]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [14]:
read_data = pd.read_csv('/home/srujan/Downloads/world-development-indicators/Indicators.csv')
data_shape = np.shape(read_data)
print(data_shape)

(5656458, 6)

In [17]:
read_data.head(3)

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,133.560907
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,87.797601
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579

In [20]:
#get unique countries
countries = read_data['CountryName'].unique().tolist()
indicators = read_data['IndicatorName'].unique().tolist()

In [23]:
# choosing years
years = [2009, 2010, 2011, 2012, 2013, 2014, 2015]

In [153]:
type(countries)
empty_list = []
#for i in countries:
 #   if 'India' == i:
  #      empty_list = 'India'
   #        print(empty_list)
for idx, word in enumerate(countries):
    
    print(f"{idx}: {word}")

0: Arab World
1: Caribbean small states
2: Central Europe and the Baltics
3: East Asia & Pacific (all income levels)
4: East Asia & Pacific (developing only)
5: Euro area
6: Europe & Central Asia (all income levels)
7: Europe & Central Asia (developing only)
8: European Union
9: Fragile and conflict affected situations
10: Heavily indebted poor countries (HIPC)
11: High income
12: High income: nonOECD
13: High income: OECD
14: Latin America & Caribbean (all income levels)
15: Latin America & Caribbean (developing only)
16: Least developed countries: UN classification
17: Low & middle income
18: Low income
19: Lower middle income
20: Middle East & North Africa (all income levels)
21: Middle East & North Africa (developing only)
22: Middle income
23: North America
24: OECD members
25: Other small states
26: Pacific island small states
27: Small states
28: South Asia
29: Sub-Saharan Africa (all income levels)
30: Sub-Saharan Africa (developing only)
31: Upper middle income
32: World
33: Afghanistan
34: Albania
35: Algeria
36: American Samoa
37: Andorra
38: Angola
39: Antigua and Barbuda
40: Argentina
41: Armenia
42: Aruba
43: Australia
44: Austria
45: Azerbaijan
46: Bahamas, The
47: Bahrain
48: Bangladesh
49: Barbados
50: Belarus
51: Belgium
52: Belize
53: Benin
54: Bermuda
55: Bhutan
56: Bolivia
57: Bosnia and Herzegovina
58: Botswana
59: Brazil
60: Brunei Darussalam
61: Bulgaria
62: Burkina Faso
63: Burundi
64: Cabo Verde
65: Cambodia
66: Cameroon
67: Canada
68: Cayman Islands
69: Central African Republic
70: Chad
71: Channel Islands
72: Chile
73: China
74: Colombia
75: Comoros
76: Congo, Dem. Rep.
77: Congo, Rep.
78: Costa Rica
79: Cote d'Ivoire
80: Croatia
81: Cuba
82: Curacao
83: Cyprus
84: Czech Republic
85: Denmark
86: Djibouti
87: Dominica
88: Dominican Republic
89: Ecuador
90: Egypt, Arab Rep.
91: El Salvador
92: Equatorial Guinea
93: Eritrea
94: Estonia
95: Ethiopia
96: Faeroe Islands
97: Fiji
98: Finland
99: France
100: French Polynesia
101: Gabon
102: Gambia, The
103: Georgia
104: Germany
105: Ghana
106: Greece
107: Greenland
108: Grenada
109: Guam
110: Guatemala
111: Guinea
112: Guinea-Bissau
113: Guyana
114: Haiti
115: Honduras
116: Hong Kong SAR, China
117: Hungary
118: Iceland
119: India
120: Indonesia
121: Iran, Islamic Rep.
122: Iraq
123: Ireland
124: Isle of Man
125: Israel
126: Italy
127: Jamaica
128: Japan
129: Jordan
130: Kazakhstan
131: Kenya
132: Kiribati
133: Korea, Dem. Rep.
134: Korea, Rep.
135: Kosovo
136: Kuwait
137: Kyrgyz Republic
138: Lao PDR
139: Latvia
140: Lebanon
141: Lesotho
142: Liberia
143: Libya
144: Liechtenstein
145: Lithuania
146: Luxembourg
147: Macao SAR, China
148: Macedonia, FYR
149: Madagascar
150: Malawi
151: Malaysia
152: Maldives
153: Mali
154: Malta
155: Marshall Islands
156: Mauritania
157: Mauritius
158: Mexico
159: Micronesia, Fed. Sts.
160: Moldova
161: Monaco
162: Mongolia
163: Montenegro
164: Morocco
165: Mozambique
166: Myanmar
167: Namibia
168: Nepal
169: Netherlands
170: New Caledonia
171: New Zealand
172: Nicaragua
173: Niger
174: Nigeria
175: Northern Mariana Islands
176: Norway
177: Oman
178: Pakistan
179: Palau
180: Panama
181: Papua New Guinea
182: Paraguay
183: Peru
184: Philippines
185: Poland
186: Portugal
187: Puerto Rico
188: Qatar
189: Romania
190: Russian Federation
191: Rwanda
192: Samoa
193: San Marino
194: Sao Tome and Principe
195: Saudi Arabia
196: Senegal
197: Serbia
198: Seychelles
199: Sierra Leone
200: Singapore
201: Sint Maarten (Dutch part)
202: Slovak Republic
203: Slovenia
204: Solomon Islands
205: Somalia
206: South Africa
207: South Sudan
208: Spain
209: Sri Lanka
210: St. Kitts and Nevis
211: St. Lucia
212: St. Martin (French part)
213: St. Vincent and the Grenadines
214: Sudan
215: Suriname
216: Swaziland
217: Sweden
218: Switzerland
219: Syrian Arab Republic
220: Tajikistan
221: Tanzania
222: Thailand
223: Timor-Leste
224: Togo
225: Tonga
226: Trinidad and Tobago
227: Tunisia
228: Turkey
229: Turkmenistan
230: Turks and Caicos Islands
231: Tuvalu
232: Uganda
233: Ukraine
234: United Arab Emirates
235: United Kingdom
236: United States
237: Uruguay
238: Uzbekistan
239: Vanuatu
240: Venezuela, RB
241: Vietnam
242: Virgin Islands (U.S.)
243: West Bank and Gaza
244: Yemen, Rep.
245: Zambia
246: Zimbabwe

In [159]:
countries[119:122]

['India', 'Indonesia', 'Iran, Islamic Rep.']

In [144]:
type()

list

In [142]:
empty_list

'India'

In [145]:
len(empty_list)

5

In [111]:
# pick one indicator randomly
indicatorFilter = random.sample(indicators, 1)
type(indicatorFilter)
indicatorFilter

['Gross enrolment ratio, secondary, both sexes (%)']

In [214]:
c1 = 'India'
mask1 = read_data['CountryName'].str.contains(c1)
c2 = 'United States'
mask2 = read_data['CountryName'].str.contains(c2)

In [215]:
stage1 = read_data[mask1]

In [216]:
stage1.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
11561,India,IND,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,103.938000
11562,India,IND,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,76.559538
11563,India,IND,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,5.403730
11564,India,IND,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,71.155808
11565,India,IND,"Agriculture, value added (% of GDP)",NV.AGR.TOTL.ZS,1960,42.561131

In [217]:
stage1['CountryName'].iloc[0]

'India'

In [218]:
stage2 = read_data[mask2]

In [219]:
stage2.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
22220,United States,USA,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,84.987200
22221,United States,USA,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,66.524844
22222,United States,USA,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,15.230264
22223,United States,USA,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,51.294580
22224,United States,USA,Alternative and nuclear energy (% of total ene...,EG.USE.COMM.CL.ZS,1960,1.261261

In [220]:
stage2['CountryName'].iloc[0]

'United States'